#container {
  display: grid;
  width: 960px;
  height: 960px;
  border: solid thin blue;
  grid-template-columns: repeat(10, 1fr);

}
.dive {
  background-color: white;
  border: solid thin black;
  aspect-ratio: 1;
}
.hold {
  grid-template-columns: repeat(20, 1fr);
  grid-template-columns: repeat(25, 1fr);
}
